@import '../../../../scss/variables.scss';
@import '../../../../scss/common';

:local {
  .panel_container {
    &--value {
      $valueSelector: &;
      &:not(:last-child) {
        padding-bottom: 20px;
      }
      &-wrapper {
        display: inline-block;
        margin: 0 10px;
      }
      &-label {
        min-width: 25%;
        vertical-align: top;
        color: var(--proof-verifier-panel-color);
        text-align: right;
      }
      &-default, &-style {
        font-size: var(--proof-verifier-panel-value-font-size);
        color: var(--proof-verifier-panel-value-color);
        background-color: var(--proof-verifier-panel-value-background-color);
        max-width: 55%;
        border-radius: 4px;
        span {
          display: block;
        }
      }
      &-style {
        span {
          background-color: var(--proof-verifier-panel-value-background-color);
          color: var(--proof-verifier-panel-value-color);
          font-weight: bolder;
          border-radius: 4px;
          padding: 3px 9px;
        }
        &.panel_container--value-responsive-responsive {
          &_small {
            margin-right: 0;
          }
        }
      }
      &-responsive {
        &_small {
          min-width: 0;
          max-width: none;
          text-align: left;
          display: block;
          margin: 5px 0 0;
          
          &-label {
            margin-top: 0;
          }
        }
      }
    }
  }
}
