@import '../../../scss/common';

:local {
  .panel_container {
    width: var(--proof-verifier-panel-width);
    max-height: var(--proof-verifier-panel-height);
    display: block;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    position: var(--proof-verifier-panel-position);
    z-index: var(--z-index);
    overflow: hidden;

    & * {
      z-index: var(--z-index);
    }
  }
}
