# Dev server and examples
server
examples

# macOS
.DS_Store

# IntelliJ IDEA
**/.idea/
**/*.iml

# Node module
**/node_modules

# Webpack configs
webpack.config.js
webpack.build.config.js
webpack.dev.config.js

# Other files
.gitignore
.eslintrc.js
