@import '../../variables.scss';

.home {
	margin: 10px 0;
	
	&__demo {
		&--title {
			font-size: 18px;
		}
		&--file {
			&-hasher {
				width: 20%;
				margin: 20px auto;
				border: 2px dotted $first-theme-color;
				padding: 20px;
				&_inner {
					.file-hasher-widget {
						color: $first-theme-color;
					}
				}
			}
		}
	}
}
