<div class="home">
  <div class="home__demo--title">Please, select a file you want to verify:</div>
  <div class="home__demo--file-hasher">
    <div class="home__demo--file-hasher_inner">
      <div file-hasher-widget [lang]="fileHasherConfig.lang" [config]="fileHasherConfig"></div>
<!--      <div file-verifier-widget [config]="widgetConfig"></div>-->
    </div>
  </div>
  <div *ngIf="isHashed" class="home__demo--receipt">
    <span class="home__demo--receipt__text">{{ receiptName ? receiptName : 'Drop the receipt file here' }}</span>
    <div class="home__demo--receipt__inner"
         (dragstart)="highlightDragZone($event)"
         (dragover)="highlightDragZone($event)"
         (drop)="unHighlightDragZone($event)"
         (dragleave)="unHighlightDragZone($event)">
      <input class="dropZone clickable" type="file" (change)="onFileChange($event)">
    </div>
  </div>
</div>
