@import "../../scss/variables.scss";

:local {
  .woleet {
    &_proof-verifier-widget {
      &__wrapper {
        display: block;
        height: 300px;
        width: 300px;
        
        &-item {
          display: flex;
          height: 100px;
          width: 100%;
          background-color: $secondary-color;
          span {
            color: $light-color;
            padding: 20px;
          }
        }
      }
    }
  }
}
