@import "../../scss/variables.scss";

.woleet {
  &_proof-verifier-widget {
    &__wrapper {
      display: block;
      height: 300px;
      width: 300px;

      &-item {
        display: block;
        height: 100px;
        width: 100%;
      }
    }
  }
}
