@import '../index';

:local {
  .download_container {
    position: relative;
    @extend .description-block;

    &--body {
      width: 100%;
      height: 100%;
      position: relative;
      display: inline-block;
    }
  }
}
