@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes fly {
  from {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes reduce {
  from {
    transform: scale(0);
    opacity: 0;
  }
}
