/* Colors*/
$primary-color: #3A98D8;
$secondary-color: #FC1158;
$gray-color: lightgray;
$black-color: black;
$error-color: #FF9494;
$light-color: #FFF;

$progress-bar-color: #3A98D8;

$progress_transition: width .1s ease;
$progress_animation: progress-bar-stripes 2s linear infinite;
