:local {
  .hash {
    &_container {
      text-align: center;
      background-color: var(--file-hasher-widget-hash-background-color);
      padding: 5px 0;
      color: var(--file-hasher-widget-hash-color);
    }

    font-size: 12px;
    font-family: monospace;
    font-weight: 400;
    display: block;

    &:not(:last-child) {
      padding-bottom: 2px;
    }
  }
}
