:local {
  .hash {
    &_container {
      text-align: center;
      margin-top: 5px;
      background-color: var(--file-hasher-widget-hash-background-color);
      padding: 5px 0;
      color: var(--file-hasher-widget-hash-color);
      text-transform: uppercase;
    }
  
    font-size: 12px;
    font-weight: 900;
    display: block;
    
    &:not(:last-child) {
      padding-bottom: 5px;
    }
  }
}
