:local {
  .progress_bar {
    &--title {
      padding: 0 10px;
      text-align: right;
      &__span {
        color: var(--file-hasher-widget-progress-color);
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
}
