@import '../../scss/variables';
@import '../../scss/common';

:root {
  --footer-color: #2cba92;
}

:local {
  .container {
    position: relative;
    display: inline-block
  }
  .icon_container {
    display: inline-block;
    svg {
      display: block;
    }
  }
}
