@import '../../../../scss/animation';

:local {
  .progress_bar {
    height: 4px;
    width: 0;
    animation: $progress_animation;
    background: var(--file-hasher-widget-progress-bar-color);
    transition: $progress_transition;
    border-radius: 10px;
  }
}
