@import '../../../../scss/variables.scss';
@import '../../../../scss/common';

:root {
  --proof-verifier-control-background-color: #eee;
}

:local {
  .panel_container {
    &--control {
      background-color: var(--proof-verifier-control-background-color);
      min-height: 10%;
      font-size: 14px;
      &_wrapper {
        padding: 10px;

        & > div {
          &:not(:last-child) {
            padding-bottom: 5px;
          }

          a {
            color: var(--proof-verifier-banner-title-color);
            text-decoration: none;
            i {
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
}
