:local {
  .progress_bar {
    &--container {
      width: 100%;
      text-align: var(--file-hasher-widget-alignment);
  
      &_wrapper {
        width: 60%;
        margin-top: 5px;
        display: inline-block;
      }
    }
  }
}
