@import '../index';

:local {
  .progress_bar {
    &--container {
      width: 100%;
      text-align: var(--file-hasher-widget-alignment);
  
      &_wrapper {
        width: 60%;
        display: inline-block;
        @extend .description-block;
      }
    }
  }
}
