@import '../../scss/variables';
@import '../../scss/common';

:local {
  .banner_container {
    width: var(--proof-verifier-banner-width);
    display: inline-block;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    overflow: hidden;
    transition: all .5s ease;
    position: absolute;
    z-index: calc(var(--z-index) + 1);

    &--wrapper {
      border-radius: 4px;
      border: 1px solid;
      border-color: var(--proof-verifier-banner-border-color);
      width: calc(100% - 5px);
      height: 100%;
      background-color: var(--proof-verifier-banner-background-color);
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      

      &-title {
        font-size: 14px;
        padding: 10px;
        color: var(--proof-verifier-banner-color);
      }
      &-icon {
        padding: 6px;
        height: 19px;
        width: 16px;
        color: var(--proof-verifier-control-color);
        i {
          padding-left: 5px;
          width: 12px;
          display: inline-block;
        }
      }      
    }
  }
}
