:local {
  .filename_container {
    &--title {
      font-weight: bolder;
      &_wrapper {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 5px;
        word-break: break-all;
      }
    }
  }
}
