@import '../../scss/variables.scss';

:local {
  .drop_container {
    height: 1px;
    &--body {
      position: relative;
      display: inline-block;
      height: 100%;
      &-icon {
        color: $primary-color;
        svg {
          width: 100% !important;
          height: 100%;
        }
      }
      &-file_input {
        outline: none;
        opacity: 0;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        cursor: pointer;
      }
    }
  }
}
