@import '../index';

:local {
  .drop_container {
    @extend .description-block;
    height: 100%;
    width: 100%;
    &--body {
      position: relative;
      display: inline-block;
      height: 100%;
      width: 100%;
      &-input {
        outline: none;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }
}
