@import '../index';

:local {
  .drop_container {
    @extend .description-block;
    height: 100%;
    &--body {
      position: relative;
      display: inline-block;
      height: 100%;
      &-icon {
        width: 100%;
        svg {
          width: 100% !important;
          height: 100%;
        }
      }
      &-file_input {
        outline: none;
        opacity: 0;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        cursor: pointer;
      }
    }
  }
}
