@import '../scss/common';

:root {
  --file-hasher-error-color: #FF9494;
  --file-hasher-widget-alignment: 'center';
  --file-hasher-widget-hash-color: white;
  --file-hasher-widget-hash-background-color: #00A2FF;
  --file-hasher-widget-control-border-color: lightgray;
  --file-hasher-widget-progress-color: #3A98D8;
  --file-hasher-widget-progress-bar-color: #3A98D8;
}

:local {
  .file_hasher_widget {
    &--wrapper {
      display: block;
      text-align: var(--file-hasher-widget-alignment);
      font-family: 'Arial';
      line-height: 1;
      max-width: 100%;
      img {
        box-sizing: border-box;
      }
    }
  }
  
  .description {
    &-block {
      margin-bottom: 5px;
    }
  }
}
