@import '../scss/_common.scss';

:root {
  --file-hasher-widget-control-border-color: black;
}

:local {
  .file_hasher_widget {
    &--wrapper {
      display: block;
      line-height: 1;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  }
  
  .description {
    &-block {
      margin-bottom: 5px;
    }
  }
}
