:local {
  .progress_bar {
    &--body {
      box-sizing: unset;
      & > div {
        display: inline-block;
      }
    }

    &--wrapper {
      width: 70%;
      margin: 0 auto 0;
      padding: 2px;
      height: 4px;
      box-sizing: unset;
      border-radius: 16px;
      border: 1px solid var(--file-hasher-widget-progress-bar-color);
    }
  }
}
