@import "../index";

:local {
  .preview_container {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    @extend .description-block;
    div:first-child {
      display: contents;
    }
    &--body {
      &-icon {
        display: inline-block;
        cursor: pointer;
        height: 100%;
        width: 100%;
        object-fit: contain;
        svg {
          width: 100% !important;
          height: 100%;
        }
      }

      &-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        &_wrapper {
          height: 100%;
          position: relative;
        }
      }
    }
  }
}
