@import '../../scss/variables.scss';

:local {
  .preview_container {
    position: relative;
    display: inline-block;
    cursor: pointer;

    &--body {
      display: table-cell;
      vertical-align: middle;

      &-icon {
        color: $primary-color;
        cursor: pointer;
        svg {
          width: 85% !important;
          height: 100%;
        }
      }

      &-image {
        width: 100%;
        &_wrapper {
          margin: 10px;
          padding: 10px;
          background-color: white;
          box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
          -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
          -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
        }
      }
    }
  }
}
