@import '../scss/variables';
@import '../scss/common';

:local {
  .proof_verifier_widget {
    &--wrapper {
      font-family: 'Roboto', sans-serif;
      position: relative;
      display: block;
    }
  }
}
