@import '../../../scss/variables';
@import '../../../scss/common';

:root {
  --proof-verifier-banner-width: 0;
  --proof-verifier-banner-title-fontsize: 16px;
  --proof-verifier-banner-title-color: #31708f;
  --proof-verifier-banner-background-color: #dff0d8;
}

:local {
  .banner_container {
    width: var(--proof-verifier-banner-width);
    display: inline-block;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    overflow: hidden;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    &--wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      text-align: center;
      margin: 0 0 0 10px;
      background-color: var(--proof-verifier-banner-background-color);
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      
      &-title {
        font-size: var(--proof-verifier-banner-title-fontsize);
        color: var(--proof-verifier-banner-title-color);
      }
    }
  }
}
