<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Example of usage "{{ widget }}" in Angular2+ (7.2)!
  </h1>
  <app-file-hasher-widget [lang]="widgetConfig.lang" [config]="widgetConfig"></app-file-hasher-widget>

  <div *ngIf="file">
    <span>Hashed file:</span><br>
    <span>{{file.name}}</span><br>
    <span>{{file.type}}</span>
    <br>
  </div>


  <div *ngIf="hash">
    <span>hash: </span>
    <span>{{hash}}</span>
    <br>
  </div>

  <div *ngIf="progress">
    <span>progress: </span>
    <span>{{progress}}</span>
    <br>
  </div>

  <div *ngIf="fileUrl">
    <span>Downloaded file url: </span>
    <span>{{fileUrl}}</span>
    <br>
  </div>

  <div *ngIf="downloadProgress">
    <span>Download progress: </span>
    <span>{{downloadProgress}}</span>
    <br>
  </div>

  <div *ngIf="downloadedFile">
    <span>Downloaded file:</span><br>
    <span>{{downloadedFile.name}}</span><br>
    <span>{{downloadedFile.type}}</span>
    <br>
  </div>

  <div *ngIf="error">
    <span>error:</span><br>
    <span>{{error.code}}</span><br>
    <span>{{error.status}}</span><br>
    <span>{{error.message}}</span>
    <br>
  </div>

  <button  *ngIf="file" (click)="reset()">RESET</button>
</div>
