/* Colors*/
$primary-color: #3A98D8;
$secondary-color: #FC1158;
$error-color: #d8c03a;
$fourth-theme-color: #4ccdd9;
$links: #005c9a;
$links-hover: #3A99D8;


/*Animation*/
$bezier: cubic-bezier(.25,.8,.25,1);
