:local {
  .progress_bar {
    &--control {
      width: 16%;
      padding-top: 1px;

      &-icon {
        color: var(--file-hasher-error-color);
        font-size: 11px;
        cursor: pointer;
      }
    }
  }
}
