@import '../../../scss/variables.scss';
@import '../../../scss/common';

:local {
  .panel_container {
    &--common {
      background-color: var(--proof-verifier-panel-background-color);
      font-size: 12px;
      border-radius: 4px;
      border: 1px solid;
      border-color: var(--proof-verifier-banner-border-color);
      margin-bottom: 3px;
      &_wrapper {
        padding: 10px;
      }
      &-item {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        &-responsive {
          &_small {
            width: 100%;
            &:first-child {
              padding-bottom: 10px;
            }
            div {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
