:local {
  .preview_container {
    &--pdf {
      position: relative;
      height: 100%;
      width: 100%;
      div:first-child {
        display: contents;
      }
      &-canvas {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }

      &-control {
        position: absolute;
        bottom: 1%;
        left: 0;
        right: 0;
        text-align: center;

        &_icon {
          cursor: pointer;
          max-width: 25px;
          max-height: 25px;
          border-radius: 16px;
          border: 2px solid var(--file-hasher-widget-control-border-color);

          &--next {
            padding: 1px 6px 1px 8px;
            background: white;
          }

          &--prev {
            padding: 1px 8px 1px 6px;
            background: white;
          }
        }

        &_icon:active, &_icon:hover {
          opacity: 0.6;
        }

        &_icon:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}
